<<<<<<< HEAD
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0efed;
}

.console-container {
  position: relative;
}

.console-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.main-text {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #1a2456;
  text-transform: uppercase;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.sub-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: absolute;
  color: #1a2456;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  position: relative;
  margin-top: 2rem;
  margin-inline: 5rem;
  overflow: hidden;
}
.gallery-item-container {
  position: relative;
}

.gallery-item {
  width: 100%;
  height: 330px;
  object-fit: cover;
  display: block;
}

.pre-order {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 1rem;
  right: 0px;
  font-weight: 600;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  background-color: #ff8b68;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.gallery-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  margin-top: 0.5rem;
}

.name {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  color: #080b1b;
  margin-right: 3em;
}

.price {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

.footer {
  width: 100%;
  height: 320px;
  background-color: #1a2456;
  margin-top: 4em;
  display: flex;
  justify-content: space-evenly;
}

.footer-title {
  color: #efc2b3;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.64em;
  letter-spacing: 1px;
  margin-top: 3rem;
  margin-bottom: 1.5em;
}

.footer-content {
  font-family: "Montserrat", sans-serif;
  color: #efc2b3;
  font-size: 0.8em;
  font-style: normal;
  line-height: 1.6;
}

.footer-link {
  font-family: "Montserrat", sans-serif;
  display: block;
  color: #efc2b3;
  font-size: 0.8em;
  text-decoration: none;
  line-height: 2;
}

.footer-link:hover {
  text-decoration: underline;
  color: #ff8b68;
}

input {
  background-color: transparent;
  border: none;
  border: 1px solid #efc2b3;
  padding: 0.5em;
  margin-top: 0.5em;
  color: #efc2b3;
}

input:focus {
  outline: none;
}
input::placeholder {
  color: #79a7bd;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.64em;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #efc2b3;
  border-radius: 2em;
  border: none;
  padding-inline: 1.6rem;
  padding-block: 0.8em;
  letter-spacing: 0.05em;
  color: #080b1b;
  margin-left: 1em;
}
.footer-icon {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.footer-icon a {
  width: 30px;
  height: 30px;
  margin-top: 0.8em;
  background: #efc2b3;
  border-radius: 50%;
  color: #1a2456;
  justify-content: center;
  text-decoration: none;
  margin-right: 0.5em;
  font-size: 1em;
}

.copyright-text {
  margin-top: 1.5em;
}
=======
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
 }

html, body {
    height: 100%;
}

 body {
  margin: 0;
  padding: 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('img-l/main-cover.jpg'); 
  background-size: cover;       
  background-repeat: no-repeat;  
  background-position: center top; 
  width: 100%;
  height: 100%;

}



 .top-header {
    display: flex;
    justify-content: space-between;
 }

 .top-link {
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 400;
 }

 .top-img {
    width: 3.7rem;
    max-width: 3.7rem;
 }

 

 .top-link:link {
    color: #EFC2B3;
    text-decoration: none;
 }

 .top-link:visited {
    color: #EFC2B3;
 }

 .top-link:hover {
    color: #ff8b68;
 }


 .top-header-right {
    display: flex;
    justify-content: right;
    align-items: center;
 }
 .side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #1a2456;
    transition: left 0.3s ease;
    max-width: 18rem;
    min-width: 13rem;
    color: #ff8b68;
    padding: 2rem 1rem;
    box-sizing: border-box;
    z-index: 1002;
    overflow-y: auto;
 }

 .side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }

 #menu-check:checked ~ .side-menu {
    left: 0;
 }

 #menu-check:checked ~ .overlay {
    display: block;
 }

 .overlay {
    display: none;
    position:fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
 }

.navbar {
  position: relative;
  display: inline-block;
  font-family: 'Prompt', sans-serif;
}


.currency-menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #EFC2B3;
  padding: 0.5rem 1rem;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0; 
  right: -0.7rem;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  display: none;
  z-index: 1000;
  min-width: 100%; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#currency-toggle:checked + .currency-menu + .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  color: #333;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}


 .hamburger {
    display: none;
    font-size: 2rem;
    color: #EFC2B3;
 }

 .flex-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  color: #EFC2B3;
  font-size: 0.9rem;
}


 .header-menubar {
    font-weight: 400;
 }

 .side-menu ul li {
   margin-bottom: 1.2rem;
   
 }

 .side-menu ul {
    padding-left: 3rem;
    font-size: 1.1rem;
    font-weight: 200;
}

.side-menu {
    padding-right: 3rem;
}

.close-btn {
  position: absolute;
  top: -1rem;
  right: 0.5rem;
  font-size: 3rem;
  font-weight: 100;
  color: #EFC2B3;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1003;
}

.close-btn {
  position: absolute;
  top: -1rem;
  right: 0.5em;
  font-size: 2.6rem;
  color: #EFC2B3;
  cursor: pointer;
  z-index: 1003;
}

.side-menu a:link {
    color: #EFC2B3;
    text-decoration: none;
 }

 .side-menu a:visited {
    color: #EFC2B3;
 }

 .side-menu a:hover {
    color: #ff8b68;
 }

 .main-nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    color: #EFC2B3;
 }

 .top-link,
 .main-nav,
 .img-bag,
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

 }

 .img-bag {
    width: 2.0rem;
    height: 2.0rem;
    color: #EFC2B3;;
 }
 
 .link-bag a:visited {
    color:  #EFC2B3;
 }

 .link-bag a:hover {
    color:  #ff8b68;
 }

 .main-nav a:link {
    color: #EFC2B3;
    text-decoration: none;
 }

 .main-nav a:visited {
    color: #EFC2B3;
 }

 .main-nav a:hover {
    color: #ff8b68;
 }

 .top-right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1.5rem;
    font-weight: 300;
    font-size: 0.9rem;
 }


 @media (min-width: 990px) {
    .side-menu,
    .overlay,
    .hamburger {
        display: none;
    }
 }

 @media (max-width: 990px) {
    .main-nav {
        display: none;
    }
    
    .hamburger {
        display: block;
    }
 }

 .top-header {
    background-color: #1a2456;
    margin: 1rem 1rem;
    padding: 0.1rem 0.1rem;
    }

.header-big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#EFC2B3;

    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.header-header {
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}

.header-two {
    font-size: 1.1rem;
    font-weight: 200;
} 
>>>>>>> origin/main
